@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --black: #000000;
    --white: #d2dcd2; 
    --dark-blue: #1a3491;
    --night: #050f30;
    --grey: #6b728c;
    --dark-editor:#0a1424;
    --light-editor: #d3dbe8;    
    --celeste: #03cafc;
  }

body{
    background: linear-gradient(to left, var(--night), var(--dark-blue));
    text-align:center;
}

*:focus{
    outline: none;
}

.containerLogin{
    background-color:var(--white);
    display: flex;
    flex-direction:column;
    letter-spacing:1px;
    margin:auto;
    padding: 30px;
    text-align:center;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: 150px;
    border: var(--white) solid 2px;
    max-width: 450px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.containerLogin img{
    margin: auto;
    margin-top: -70px;
    margin-bottom: 20px;
    height:180px;
    width:180px;
}

.containerLogin .choose{
    margin:auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-radius: 5px;
}

.containerLogin .choose button{
    border: none;
    background: var(--white);
}

.containerLogin p{
    margin-bottom: 20px;
}

.containerLogin input, .containerLogin input:focus{
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size:12pt;
    background: var(--white);
}

#sub{
    margin: auto;
    margin-top: 20px;
    max-width: 100px;
    background: var(--dark-blue);
    color:var(--white);
    padding: 12px;
    border-radius: 10px;
    border:none;
    transition:1s;
}

#sub:hover{
    background-color: var(--night);
}

.sign{
    padding: 8px;
    border-radius: 10px;
    border:none;
    background: var(--white);
    color:var(--dark-blue);
    transition: 1s;
}

.sign:hover{
    background: var(--dark-blue);
    color:var(--white);
}

#logS, #sigS{
    border: none;
    padding:10px;
}

.lineaN{
    position:absolute;
    width: 70px;
    height: 6px;
    margin-top: 40px;
    background: var(--dark-blue);
    border-radius: 2px;
    transition:.5s;
}

.lineaM{
    position:absolute;
    width: 70px;
    height: 6px;
    margin-top: 40px;
    background: var(--dark-blue);
    border-radius: 2px;
    margin-left:77px;
    transition:.5s;
}

/*Edit page style*/

.edit{
    display: flex;
    flex-direction: row;
}

.edittitle{
    margin-bottom:50px;
    margin-top: 20px;
    color: var(--white);
    font-weight: bold;
    font-size: 45pt;
    letter-spacing: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.sidebar{
    margin-left:10px;
    letter-spacing: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-right: 20px;
    background: var(--white);
    padding:30px;
    border-radius: 10px;
    min-height: 600px;
    max-height: 700px;
    box-shadow:20px 20px var(--grey);
}

.sidesaparator{
    height:3px;
    width:100%;
    background: var(--dark-blue);
    border-radius: 10px;
    margin-bottom: 30px;
}

/*Editor Style*/
.editor{
    display: flex;
    flex-direction: row;
    padding:30px;
    background-color:var(--white);
    min-height:600px;
    width: 70%;
    min-width: 50%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow:20px 20px var(--grey); 
    font-family: 'Mochiy Pop P One', sans-serif;
}

.opened{
    height:25px;
    min-width: 90px;
    max-width: 180px;
    position: relative;
    background: var(--white);
    padding: 1px;
    font-family: 'Mochiy Pop P One', sans-serif;
    top:-65px;
    left:-25px;
    border-radius: 10px;
}

.editorText{
    margin-top: 13px;
    width:85%;
    height:95%;
    font-weight:300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14pt;
    resize:none;
    padding:0.5px;
    transition: 1s;
    border-radius: 10px;
    max-height: none;
    overflow: hidden;
    resize:none;
}

#dark{
    background: var(--dark-editor);
    color: var(--light-editor);
}

#light{
    background: var(--light-editor);
    color:var(--dark-editor);
}

.buttonTheme{
    background: var(--celeste);
    display:flex;
    flex-direction: row;
    border:2px solid var(--dark-editor);
    border-radius: 30px;
    padding:2px;
    height: 30px;
    width:70px;
    min-width: 70px;
    z-index:10;
    margin-top:10px;
}

.obj{
    max-height: 20px;
    max-width:20px;
    padding:2px;
    margin:3px 0 0 7px;
}

.circleDark{
    content: '';
    display:inline-block;
    background:var(--dark-editor);
    height:24px;
    width:24px;
    border-radius: 13px;
    margin-top:-1px;
    margin-left:-20px;
    transition:1s;
}

.circleLight{
    content: '';
    display:inline-block;
    background:var(--dark-editor);
    height:24px;
    width:24px;
    border-radius: 13px;
    margin-top:-1px;
    margin-left:-50px;
    transition:1s;
}

ul{
    list-style-type: none;
    margin-top: 17px;
}

.number{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14pt;
}

/*Header*/
.header{
    display: flex;
    flex-direction: row;
    width:100%;
    height:100px;
    background-color: var(--dark-blue);
    font-family: 'Mochiy Pop P One', sans-serif;
}
  
.header h1{
    margin-top: 1%;
    margin-left: 10px;
}
  
.userButton {
    position: absolute;
    right:12px;
    top:12px;
    height:50px;
    width:50px;
    border-radius: 25px;
    border: var(--night) 2px solid;
    background: var(--night);
    color:var(--white);
}
  
.menu{
    display: flex;
    flex-direction: column;
    position:absolute;
    right:10px;
    top:80px;
    background: var(--black);
    border-radius: 10px;
    z-index:100;
}
  
.menuB{
    width: 130px;
    height:40px;
    color:var(--night);
    text-decoration:none;
    font-family: 'Mochiy Pop P One', sans-serif;
    background: var(--celeste);
    border: var(--dark-editor) 2px solid;
    border-radius: 20px;
    transition: 1s;
}

.menuS{
      display: none;
}

.subHeader{
    width:100%;
    height:50px;
}

.shb{
    font-family: 'Mochiy Pop P One', sans-serif;
    height:100%;
    width:33.3333%;
    color:var(--night);
    text-decoration:none;
    border:2px solid var(--black);
    background: var(--dark-editor);
    color:var(--white);
    transition:1s;
}

.menuB:hover, .shb:hover{
    background: var(--grey);
}

.link{
    text-decoration:none;
    color:var(--white);
    transition:1s;
}
/*homepage*/
.yFiles{
    border-radius: 20px;
    position:relative;
    top:15px;
    left:15px;
    background: var(--white);
    width:30%;
    box-shadow:20px 20px var(--grey);
}

.gFiles{
    border-radius: 20px;
    position:relative;
    top:15px;
    left:50px;
    background: var(--white);
    width:30%;
    box-shadow:20px 20px var(--grey);
}

.fileContainer, .wrap{
    display:flex;
    flex-direction: row;
}

.wrap{
    font-family: 'Mochiy Pop P One', sans-serif;
}

.wrap h3{
    padding:10px;
}

/*footer*/
.footer{
    background:var(--black);
    width:100%;
    height:65px;
    position: absolute;
    bottom:0;
}

.footer p{
    margin-top: 20px;
    color: var(--white);
}