@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
    --black: #000000;
    --white: #ffffff; 
    --dark-blue: #1a3491;
    --night: #050f30;
    --grey: #6b728c;    
  }

body{
    background: linear-gradient(to left, var(--night), var(--dark-blue));
}

*:focus{
    outline: none;
}

.containerLogin{
    background:var(--white);
    display: flex;
    flex-direction:column;
    letter-spacing:1px;
    margin:auto;
    padding: 30px;
    text-align:center;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: 150px;
    border: var(--white) solid 2px;
    max-width: 450px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.containerLogin h1{
    margin-bottom: 50px;
}

.containerLogin .choose{
    margin:auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-radius: 5px;
}

.containerLogin .choose button{
    border: none;
    background: var(--white);
}

.containerLogin p{
    margin-bottom: 20px;
}

.containerLogin input, .containerLogin input:focus{
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size:12pt;
    background: var(--white);
}

#sub{
    margin: auto;
    margin-top: 20px;
    max-width: 100px;
    background: var(--dark-blue);
    color:var(--white);
    padding: 8px;
    border-radius: 10px;
    border:none;
    transition:1s;
}

#sub:hover{
    background-color: var(--night);
}

.sign{
    padding: 8px;
    border-radius: 10px;
    border:none;
    background: var(--white);
    color:var(--dark-blue);
    transition: 1s;
}

.sign:hover{
    background: var(--dark-blue);
    color:var(--white);
}

#logS, #sigS{
    border: none;
    padding:10px;
}

.lineaN{
    position:absolute;
    width: 70px;
    height: 6px;
    margin-top: 40px;
    background: var(--dark-blue);
    border-radius: 2px;
    transition:.5s;
}

.lineaM{
    position:absolute;
    width: 70px;
    height: 6px;
    margin-top: 40px;
    background: var(--dark-blue);
    border-radius: 2px;
    margin-left:77px;
    transition:.5s;
}