@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
    --black: #000000;
    --white: #d2dcd2; 
    --dark-blue: #1a3491;
    --night: #050f30;
    --grey: #6b728c;    
  }

body{
    background: linear-gradient(to left, var(--night), var(--dark-blue));
    text-align:center;
}

*:focus{
    outline: none;
}

.containerLogin{
    background-color:var(--white);
    display: flex;
    flex-direction:column;
    letter-spacing:1px;
    margin:auto;
    padding: 30px;
    text-align:center;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: 150px;
    border: var(--white) solid 2px;
    max-width: 450px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.containerLogin img{
    margin: auto;
    margin-top: -70px;
    margin-bottom: 20px;
    height:180px;
    width:180px;
}

.containerLogin .choose{
    margin:auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-radius: 5px;
}

.containerLogin .choose button{
    border: none;
    background: var(--white);
}

.containerLogin p{
    margin-bottom: 20px;
}

.containerLogin input, .containerLogin input:focus{
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size:12pt;
    background: var(--white);
}

#sub{
    margin: auto;
    margin-top: 20px;
    max-width: 100px;
    background: var(--dark-blue);
    color:var(--white);
    padding: 12px;
    border-radius: 10px;
    border:none;
    transition:1s;
}

#sub:hover{
    background-color: var(--night);
}

.sign{
    padding: 8px;
    border-radius: 10px;
    border:none;
    background: var(--white);
    color:var(--dark-blue);
    transition: 1s;
}

.sign:hover{
    background: var(--dark-blue);
    color:var(--white);
}

#logS, #sigS{
    border: none;
    padding:10px;
}

.lineaN{
    position:absolute;
    width: 70px;
    height: 6px;
    margin-top: 40px;
    background: var(--dark-blue);
    border-radius: 2px;
    transition:.5s;
}

.lineaM{
    position:absolute;
    width: 70px;
    height: 6px;
    margin-top: 40px;
    background: var(--dark-blue);
    border-radius: 2px;
    margin-left:77px;
    transition:.5s;
}

/*Edit page style*/

.edit{
    display: flex;
    flex-direction: row;
}

.edittitle{
    margin-bottom:50px;
    margin-top: 20px;
    color: var(--white);
    font-weight: bold;
    font-size: 45pt;
    letter-spacing: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.sidebar{
    margin-left:20px;
    letter-spacing: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-right: 20px;
    background: var(--white);
    padding:30px;
    border-radius: 10px;
    min-height: 600px;
}

.sidesaparator{
    height:3px;
    width:100%;
    background: var(--dark-blue);
    border-radius: 10px;
    margin-bottom: 30px;
}

/*Editor Style*/
.editor{
    padding:30px;
    background-color:var(--white);
    min-height:600px;
    min-width: 70%;
    border-radius: 10px;
}

.opened{
    height:25px;
    min-width: 50px;
    max-width: 150px;
    position: relative;
    background: var(--white);
    padding: 1px;
    font-family: 'Mochiy Pop P One', sans-serif;
    top:-65px;
    left:-25px;
    border-radius: 10px;
}